<section class="d-flex justify-content-center align-items-center">
  <div class="lotto-panels">
    <app-lotto-grid *ngFor="let panel of panels" [index]="panel" [markCount]="numberOfMarks"></app-lotto-grid>
  </div>
</section>
<div class="d-flex justify-content-center align-items-center mt-5">
  <button mat-flat-button class="bg-danger w-25" (click)="play()">Play</button>
</div>
<div class="d-flex justify-content-center align-items-center flex-column bg-white mt-5">
  <div *ngFor="let panel of panelSelections let i = index; ">
    <span class="fw-bold">Panel {{i + 1}}:</span>
    <span *ngIf="panel.selections.length === numberOfMarks">{{panel.selections}}</span>
    <span *ngIf="panel?.selections?.length === 0">
      empty
    </span>
    <span *ngIf="panel.selections.length > numberOfMarks">
      please remove {{panel.selections.length - numberOfMarks}} mark(s)
    </span>
    <span *ngIf="panel.selections.length !== 0 && panel.selections.length < numberOfMarks">
      please add {{numberOfMarks - panel.selections.length}} mark(s)
    </span>
  </div>
</div>
